body, textarea {
	font-size: 20pt;
}
.highlight {
	background-color: pink;
	border: 1px solid red;
}
#content {
	width: 30%;
}
#selector {
	width: 65%;
	height: 100px;
}
#sourceArea {
	float:right;
	width: 65%;
}
#sourceArea textarea {
	font-size: 16pt;
	height: 500px;
	width: 100%;
}
h3, h4 {
	padding: 0px;
	margin: 5px 0px;
}
#examples { 
	float:right;
	z-index: 7777;
	position: absolute;
	right: 0px;
	background-color: white;
	overflow: hidden;
	border: solid 1px black;
	width: 30%;
	height: 100px;
	font-size: 12pt;
	padding: 10px;
	margin-right: 20px;
}
#examples ul {
	margin: 0px 10px;
	padding: 0px;
	list-style: none;
}
pre {
	margin: 0px;
}
li p {
	margin: 0px;
}
